footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Catragana-Campers logo')
  ul.footer__nav
    li: a(href='#') About Us
    li: a(href='#') Become a Guide
    li: a(href='#') Careers
    li: a(href='#') Contact Us
  p.footer__copyright &copy; By Dhafer Hamaz Sfaxi end of the year project in Holberton School Compus of Tunisia